@use "../../shared/Styles" as *;
@use "../../shared/Colors" as *;
@use "../../shared/Variables" as *;

.starSeparator {
    width: 100%;
    position: relative;
    margin-bottom: 3rem;


    &::before {
        content: ' ';
        border-bottom: 2px solid white;
        width: 100%;
        display: block;
    }

    &::after {
        content: "\2726";
        font-size: 4rem;
        position: absolute;
        //left: 75%;
        left: var(--leftPosition);
        top: calc(-2rem + 1.5px);//todo: figure out actual positioning
    }
}
