@use "../../shared/Styles" as *;
@use "../../shared/Colors" as *;
@use "../../shared/Variables" as *;

.starSeparator {
    width: 100%;
    position: relative;
    margin: 3rem 0;


    &::before {
        content: ' ';
        border-bottom: 2px solid #a4a4a4;
        //border-bottom: 2px solid #868686;
        width: 100%;
        display: block;
    }

    &::after {
        content: "\2726";
        font-size: 4rem;
        position: absolute;
        color: white;
        //left: 75%;
        left: var(--leftPosition);
        top: calc(-2rem + 1.5px);//todo: figure out actual positioning
    }
}
