@use "../../shared/Colors" as *;
@use "../../shared/Styles" as *;
@use "../../shared/Variables" as *;

.button {
    background-color: $buttonColor;
    color: antiquewhite;
    border: none;
    padding: 0.9rem 1rem;
    border-radius: 4px;
    z-index: 0;
    display: flex;

    position: relative;
    overflow: hidden;

    &:hover{
        transform: scale(110%);
        .shimmerContainer::before{
            animation-duration: 10s;
            animation-fill-mode: forwards;
        }
    }
    &::after{
        content: "";
        position: absolute;
        z-index: -1;

        left: 3px;
        top: 3px;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        background: $buttonColor;
        border-radius: 4px;
    }

    .shimmerContainer{
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;

    }

    .shimmerContainer::before{
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -200%;
        width: 200%;
        height: 500%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 0 100%, 100% 100%, 100% 0;
        /*
        background: rgb(124,163,125);
background: radial-gradient(circle, rgba(124,163,125,1) 0%, rgba(154,214,156,1) 43%, rgba(178,255,180,1) 77%);
         */
        //background-image: linear-gradient(#D02F56, #D02F56), linear-gradient(#A7D02F, #A7D02F), linear-gradient(#2FD0A9, #2FD0A9), linear-gradient(#582FD0, #582FD0);
        background: rgb(208,47,86);
        background: linear-gradient(90deg, rgba(208,47,86,1) 27%, rgba(167,208,47,1) 39%, rgba(47,208,169,1) 52%, rgba(88,47,208,1) 63%);
        animation: rotate 20s cubic-bezier(0.57, 0.42, 0.84, 0.68) infinite;

    }

    &.dissect{
        &:hover{
            overflow: visible;
            animation: none;
            &:after{
                transition: transform 1s ease-in-out;
                transition-delay: 100ms;
                transform: translateX(150px);
            }
            > .shimmerContainer{
                transition: transform 1s ease-in-out;
                transition-delay: 900ms;
                transform: translateX(-200px);

                &:before{
                    animation-duration: 4s;
                }
            }
        }
    }

    @media (width < $breakpointMobile) {
        &.dissect{
            &:hover{
                &:after{
                    transform: translateY(150px);
                }
                > .shimmerContainer{
                    transform: translateY(-200px);
                }
            }
        }
    }

    @keyframes rotate {
        100%{
            transform: rotate(1turn);
        }
    }
}
