@use "../../shared/Colors" as *;

.button {
    background-color: $buttonColor;
    color: antiquewhite;
    border: none;
    padding: 0.9rem 1rem;
    border-radius: 4px;
    z-index: 0;
    display: flex;

    position: relative;
    overflow: hidden;

    &:hover{
        transform: scale(110%);
        .shimmerContainer::before{
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
    }
    &::after{
        content: "";
        position: absolute;
        z-index: -1;

        left: 3px;
        top: 3px;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        background: $buttonColor;
        border-radius: 4px;
    }

    .shimmerContainer{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .shimmerContainer::before{
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -150%;
        width: 200%;
        height: 400%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 0 100%, 100% 100%, 100% 0;
        background-image: linear-gradient(#D02F56, #D02F56), linear-gradient(#A7D02F, #A7D02F), linear-gradient(#2FD0A9, #2FD0A9), linear-gradient(#582FD0, #582FD0);
        animation: rotate 4s linear infinite;

    }

    &.dissect{
        &:hover{
            overflow: visible;
            animation: none;
            &:after{
                transition: transform 1s ease-in-out;
                transition-delay: 100ms;
                transform: translateX(150px);
            }
            > .shimmerContainer{
                transition: transform 1s ease-in-out;
                transition-delay: 900ms;
                transform: translateX(-200px);

                &:before{
                    animation-duration: 4s;
                }
            }
        }
    }

    @keyframes rotate {
        100%{
            transform: rotate(1turn);
        }
    }
}
