@use "shared/Colors" as *;
@use "shared/Styles" as *;
@use "shared/Variables" as *;

.App {
    //max-width: 1280px;
    //margin: 0 auto;
    //padding: 2rem;
    //text-align: center;
    position: fixed; //position fixed with height 100% is required for mobile device browsers with address bars that change visibility
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: white;

    .calculatorinatorContainer {

    }

    .homeWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;

    }
}

//.logo {
//  height: 6em;
//  padding: 1.5em;
//  will-change: filter;
//  transition: filter 300ms;
//}
//.logo:hover {
//  filter: drop-shadow(0 0 2em #646cffaa);
//}
//.logo.react:hover {
//  filter: drop-shadow(0 0 2em #61dafbaa);
//}
