@use "shared/Colors" as *;
@use "shared/Styles" as *;
@use "shared/Variables" as *;

.App {
    //max-width: 1280px;
    //margin: 0 auto;
    //padding: 2rem;
    //text-align: center;

    width: 100vw;
    height: 100vh;
    //display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //overflow: scroll;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;

    //.content{
    //    position: absolute;
    //    //top: var(--nav-bar-height);
    //    //height: calc(100vh - var(--nav-bar-height));
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //    display: none;
    //}

    .dissectPage {
        //--nav-bar-height
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        //height: calc(100vh - var(--nav-bar-height));
        height: 50%;
        position: absolute;
        top: var(--nav-bar-height);
        //padding-bottom: 10rem;
    }


    //top: 0;
    //left: 0;

    .beeIcon {
        position: absolute;
        top: .1rem;
        left: .5rem;
        width: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    .calculatorinatorContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spotifyContainer {
        width: 100vw;
        position: absolute;
        top: var(--nav-bar-height);
        left: 0;
        padding: 1rem 0;
        box-sizing: border-box;
    }
    .sourdoughContainer{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }


    .homeWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem;
        width: 100vw;
        .buttonContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        .typeWriter {
            margin-bottom: 1rem;
        }

        .button{
            width: 25%;
            font-size: 1.5rem;
        }
    }

    @media (width <= $breakpointMobile) {
        .homeWrapper .button{
            width: auto;
            font-size: 1rem;
        }
    }
}

//.logo {
//  height: 6em;
//  padding: 1.5em;
//  will-change: filter;
//  transition: filter 300ms;
//}
//.logo:hover {
//  filter: drop-shadow(0 0 2em #646cffaa);
//}
//.logo.react:hover {
//  filter: drop-shadow(0 0 2em #61dafbaa);
//}
